body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    list-style-type:none;
    display:flex;
    justify-content: center;
    background-color:#1e1e1e;
    padding: 15px;
    margin:0;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration:none;
    color:antiquewhite;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: rgb(234, 189, 129);
}   

.info {
    padding: 60px;
    text-align: center;
    background-color: #c1b98f;
}
.info h2{
    font-size: 20px;
}
.info p {
    font-size: 18px;
    max-width: 700px;
    margin: auto;
}

footer {
    background-color: #1e1e1e;
    color: antiquewhite;
    text-align: center;
    padding: 20px;
}

.hero {
    background-image:url("hotel.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgb(255, 106, 0);
    text-align: center;
}
.hero h2 {
    font-size: 15px;
    margin: 10px;
}
.hero p {
    font-size: 20px;
}   

/* OM OSS */
.about{
    padding:60px;
    text-align:center;
}

.about h1{
    font-size:36px;
    margin-bottom:20px;
}

.about p{
    font-size:18px;
    max-width:700px;
    margin:10px auto;
}

.footer{
    background-color:#a38921;
    color:white;
    padding:30px 20px;
}

/* Övre delen */
.footer-top{
    font-size:28px;
    margin-bottom:20px;
}

/* Nedre delen */
.footer-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top:1px solid rgba(255,255,255,0.3);
    padding-top:15px;
    flex-wrap:wrap;
}

